.font-size{
  font-size: 50px;
  text-decoration: none!important;
}
.width{
  width: 50px!important;
}
.back{
  border: 0px solid ;
  height: 100vh;
  /* width: 100%; */
}
.position{
  position: absolute;
  border: 2px solid;
}

table,td{
  border: 2px solid ;
}
body{
  background-image: url("https://images.pexels.com/photos/6334763/pexels-photo-6334763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}
